select{
    width: 150px;
    height: 30px;
}
button{
    width: 70px;
    height: 30px;
    background-color: rgb(255, 196, 87);
    border: none;
}
.title{
    text-align: center;
    font-weight: bold;
    color: rgb(85, 0, 0);
    font-size: 18px;
}
body{
    background-image: url("./anh/background.png");
}
.nhanvien{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(250, 189, 99);
}
table{
    margin: auto;
}