body{
    margin: 0;
    padding: 0;
    
}

.fix{
    clear: both;
}
.row2{
    width: 100%;
    height: auto;
}
.row2 .item1{
    width: 100%;
}
.row2 .item1 .img .descr{
    float: right;
    width: 50%;
    position: absolute;
    top: 16%;
    left: 50%;
    padding: 0 8px;

}
.row2 .item1 .img{
    margin: 0;
    float: left;
    position: relative;
    background-image: url("./anh/bg-wave1.png");
    color: black;
    width: 98%; 
}

.row2 .item1 .img img{
    width: 50%;
    
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.row2 .item2{
    width: 100%;
}
.row2 .item2 .img .descr{
    float: left;
    width: 50%;
     position: relative;
    top: 45px;;
    /* padding: 35px 10px; */

}
.row2 .item2 .img{
    width: 100%;
    float: right;
    /* position: relative; */
    background-image: url("./anh/bg-wave1.png");
    /* background: #000; */
    color: black;    
}

.row2 .item2 .img img{
    width: 50%;
    
}
.descr p, h2{
    text-align: center;
}
p{
    font-size: 20px;
}