body{
    background-image: url("./anh/background.png");
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}

td, th {
    
    text-align: left;
    padding: 8px;
    text-align: center;
}
.inhoadon{
    text-align: center;
}