.title{
    text-align: center;
    font-weight: bold;
    color: rgb(85, 0, 0);
    font-size: 18px;
}
body{
    background-image: url("./anh/background.png");
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(250, 189, 99);
}
table{
    margin: auto;
}
select{
    width: 130px;
    height: 30px;
}
.chon{
    text-align: center;
    width: 500px;
    height: 100px;
    margin: auto;
}
.form{
    text-align: center;
 
    
}
form{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid orange;
}
.text{
    font-size: 18px;
}
input{
    width: 200px;
    height: 20px;
}
.quyen{
    text-align: center;
}
button{
    background-color: rgb(255, 186, 59);
    width: 100px;
    height: 30px;
    border: none;
}