body{
    margin: 0;
    padding: 0;
}
div{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
}
.anhtop img {
    width: 1519px;
}
.anhcontent img{
    width: 1519px;
}
content{
    width: 100%;
    height: 100vh;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(247, 119, 35);
}
.menu{
    position: absolute;
    padding-left: 175px;
}
ul li{
    float: left;
    list-style-type: none;
    margin-left: 55px;
    margin-top: 50px;
    padding: 15px;
   
}

a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

ul li:hover{
    background-color: orange;
}
ul li:hover a{
    color: black;
}
