.title{
    text-align: center;
    font-weight: bold;
    color: rgb(85, 0, 0);
    font-size: 18px;
}
body{
    background-image: url("./anh/background.png");
}
.option{
    position: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(250, 189, 99);
}
#caphe, #trasua, #tra, #douongcocon, #soda{
    display: none;
}
select{
    width: 130px;
    height: 30px;
}
.chon{
    text-align: center;
    width: 500px;
    height: 100px;
    margin: auto;
}